{% for block in section.blocks %}
  <div class="container category-page-section {{ block.type }}">
    {% case block.type %}
    {% when 'category-banner' %}
      {% include 'category-banner' with block %}
    {% when 'stay-touch-sect' %}
      <div class="container">
          <iframe title="Email Sign Up" id="emailSubscription" scrolling="auto" src="https://pub.s7.exacttarget.com/mnpyedyvf0a"></iframe>
      </div>
    {% when 'category-product-list' %}
    	{% assign productCollections = block.settings.product_collections | split: "," %}
    
      	<h1 class="heading">
            {{ block.settings.title1 }}
        </h1>
        <p>
            {{ block.settings.title2 }}
        </p>
    
    	<div class="product-group-flex" style="display:none;">
          {% for productCollection in productCollections %}
			{% assign productItem = collections[productCollection] %}
          
            <div data-id="{{ productItem.id }}">
              <div>
                {% if productItem.image != blank %}
                <img src="{{ productItem.image | img_url:'master' }}" alt="{{ productItem.title }}" />
                {% endif %}
              </div>
              <div>
                <h2 class="heading">
                  {{ productItem.title }}
                </h2>
                <p>
                  {{ productItem.description }}
                </p>
                <a href="/collections/{{ productItem.handle }}" class="button button-shop">
                  Shop now
                </a>
              </div>
            </div>
          {% endfor %}
    	</div>
    {% endcase %}
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Sections",
	"class": "index-section",
    "settings": [ ],
	"blocks": [
      {
        "name": "Banner",
        "type": "category-banner",
        "settings": [
          {
            "id": "banner_img",
            "type": "image_picker",
            "label": "Banner image"
          },
          {
            "id": "title1",
            "type": "text",
            "label": "Title 1",
            "default": "CATEGORY"
          },
		  {
            "id": "title2",
            "type": "text",
            "label": "Title 2",
            "default": "Banner Title."
          },
		  {
            "id": "title3",
            "type": "text",
            "label": "Title 3",
            "default": "Banner copy."
          },
		  {
            "id": "cta1_text",
            "type": "text",
            "label": "Button 1 Text",
            "default": "Button 1"
          },
		  {
            "id": "cta1_link",
            "type": "url",
            "label": "Button 1 Link"
          },
		  {
            "id": "cta2_text",
            "type": "text",
            "label": "Button 2 Text",
            "default": "Button 2"
          },
		  {
            "id": "cta2_link",
            "type": "url",
            "label": "Button 2 Link"
          }
        ]
      },
	  {
        "type": "category-product-list",
        "name": "Category Collection items",
        "settings": [
			{
              "id": "title1",
              "type": "text",
              "label": "Title",
              "default": "Section title"
            },
            {
              "id": "title2",
              "type": "text",
              "label": "Copy",
              "default": "Section copy."
            },
        	{
             "type": "text",
             "id": "product_collections",
             "label": "Product Collection(s)"
          	}
		 ]
      },
	  {
        "type": "stay-touch-sect",
        "name": "Stay In Touch Form",
        "settings": []
	  },
	  {
        "type": "category-grid-sect",
        "name": "Grid",
        "settings": []
	  }
  	],
 	"presets": [
    	{
          "name": "Call to Action Blocks",
          "category": "CTA button",
          "blocks": [ ]
    	}
  	]
  }
{% endschema %}

{% stylesheet %}
.category-product-list {
	margin: 50px auto 60px;
}
.category-product-list h1 {
	margin-bottom: 10px;
}
.category-product-list p {
	font-size: 22px;
	line-height: 1.2;
	max-width: 800px;
	color: #002D72;
}
.category-page-section > h1 {
	font-size: 42px;
	line-height: 1;
}
.stay-touch-sect.container {
	background:#f2f7ff;
	padding: 35px 0px 0;
	max-width: 100%;
	margin: 0 auto 40px;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
